@media screen and (max-width:700px) {
    header .container {
    display: flex;
    flex-direction: column;	
    }
	
	.navbar{
	height: 120px;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: flex-start;
	}

    .botao-mais {
        margin-top: 5px;
        width: 250px;
        text-align: left;
    }

    .botao-assistir {
        margin-top: 5px;
        width: 250px;
        text-align: left;
    }

    .minha-lista {
        margin-top: 55px;
		font-size: 20px;
    }
	
	.filme-principal .titulo {
    margin-top: 10%;    
    font-size: 30px
	}
	
	.filme-principal .descricao {
		font-size: 16px;
	}
}

@media screen and (min-width:1000px) {
    .descricao{
        width: 50%;
    }
}